body {
    margin: 0;
    background-color: #474e5d;
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color: #818181;
    background: #f1f1f1;
    overflow-x: hidden;
    /*padding-top: 16px;*/
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a.active {
    background-color: #474e5d;
    margin-left: 3px;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: #4a90e2;
    margin-left: 3px;
    color: white;
}

/*!* Style the main content *!*/
/*.main {*/
/*    margin-left: 160px; !* Same as the width of the sidenav *!*/
/*    padding: 0px 10px;*/
/*}*/
.main img {
    margin-left: 20%;
    width: 150px;
    height: 150px;
    box-shadow: 0 1px 32px rgba(20, 23, 26, 0.12);
    border-radius: 50%;
}

.card {
    padding: 25px;
    border-color: transparent;
    box-shadow: 0 1px 32px rgba(20, 23, 26, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 3px;
    background-color: #fff;
}

.card .subtitle {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #e76c67;
}

.card p a{
    color: #f1f1f1;
}
div.main {
    background-color: #f1f1f1;
    margin-left: 170px;
    padding: 1px 16px;
    /*height: 1000px;*/
    color: gray;
}


/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #474e5d;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #474e5d;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the left */
.left {
    left: -80px;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid gray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent gray;
}


/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent gray transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    color: #f1f1f1;
    background-color: #474e5d;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.main {margin-left: 0; margin-top: 10px}
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .timeline .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .timeline .container::before {
        left: 60px;
        border: medium solid gray;
        border-width: 10px 10px 10px 0;
        border-color: transparent gray transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 0px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 3%;
    }

    .left {
        left: 3%;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
    div.main {margin-left: 0; margin-top: 10px}
}